header {
    height: 768px;
    background: url(../imgs/index_bac.png) no-repeat;
    background-size: cover;
    padding: 30px 10% 0px 10%;
}

.header-title-con {
    display: flex;
    justify-content: center;
    color: #fff;
}


/* .header-title-con div:nth-child(1) {
    margin-right: 20px;
} */

.header-title-con div:nth-child(2) {
    margin: 100px 0 0 30px;
    width: 530px;
    height: 470px;
}

.header-title-con div:nth-child(2) img {
    width: 100%;
}

.header-title-con h1 {
    font-size: 60px;
    margin-top: 190px;
}

.header-title-con h4 {
    font-size: 28px;
}

.header-text {
    font-size: 16px;
    line-height: 60px;
    padding-left: 25px;
    background: url(../imgs/index_cup.png) no-repeat 0px 20px;
    background-size: 20px;
}


/* .header-text img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 18px 5px 0 0;
} */

.freeuse,
.register {
    font-size: 16px;
    display: inline-block;
    margin-top: 30px;
    padding: 12px 54px;
    border-radius: 4px;
    background: none;
    border: 1px solid #fff;
    cursor: pointer;
}

.register {
    border: none;
    background: #FFE046;
    color: #000;
    margin-right: 15px;
}


/* article {
    padding: 0 10%;
} */

article .article-item {
    padding: 130px 0 120px;
    display: flex;
    justify-content: center;
}


/* article .article-item div {
    width: 630px;
} */

article .article-item img {
    display: block;
    width: 758px;
    height: 475px;
    margin-left: 30px;
    margin-right: 30px;
}

article .article-item h2 {
    font-size: 40px;
}

article .article-item p {
    margin-top: 30px;
    width: 330px;
    font-size: 14px;
    color: #7C877F;
    line-height: 24px;
}

article .article-item a {
    font-size: 14px;
    display: inline-block;
    margin-top: 50px;
    cursor: pointer;
    padding: 8px 40px;
    color: #fff;
    background: linear-gradient(to bottom right, #23E396, #0DC5BF);
    border-radius: 4px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.14)
}

article .article-item:nth-child(1),
.article-item:nth-child(3),
.article-item:nth-child(5) {
    background: #fff;
}

article .article-item:nth-child(2),
.article-item:nth-child(4) {
    background: #f4f7f7;
}

article .article-item:nth-child(odd) div {
    margin-left: 90px;
}

.article-item:nth-child(even) div {
    width: 650px;
    margin-left: 30px;
}

.describtion {
    background: linear-gradient(to right, #23E396, #0DC5BF);
    padding-top: 70px;
    height: 298px;
    text-align: center;
    color: #fff;
}

.describtion h2 {
    font-size: 32px;
}

.discribtion-text {
    margin-top: 40px;
    font-size: 14px;
    margin-bottom: 70px;
}

.download {
    height: 640px;
    padding: 110px;
}

.download h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
}

.download ul {
    display: flex;
    justify-content: center;
}

.download ul li {
    margin-left: 28px;
    position: relative;
    text-align: center;
    width: 278px;
    height: 341px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.download ul li span {
    display: block;
    margin-top: 78px;
    font-size: 18px;
}

.download ul li .icon {
    display: inline-block;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    position: absolute;
    /* top: -43px;
    left: 100px; */
    left: 50%;
    top: -12.5%;
    transform: translate(-50%, 0);
}

.download ul li .qcode {
    display: inline-block;
    background: #0DC5BF;
    width: 157px;
    height: 157px;
    margin-top: 18px;
}

@media (min-width: 1390px) {
    article .article-item .article-img-pc {
        display: none;
    }
    .header-title-con h1 {
        font-size: 40px;
    }
    .header-title-con h4 {
        font-size: 24px;
    }
    .header-text {
        font-size: 14px;
        background-size: 12px;
        background: url(../imgs/index_cup.png) no-repeat 0px 18px;
    }
}

@media (max-width: 1390px) and (min-width: 769px) {
    article .article-item .article-img-phone {
        display: none;
    }
    .article-img-pc {
        display: block;
    }
    .header-title-con div:nth-child(2) {
        margin-top: 150px;
    }
    .header-title-con h1 {
        font-size: 38px;
    }
    .header-title-con h4 {
        font-size: 22px;
    }
    article .article-item h2 {
        font-size: 36px;
    }
    article .article-item img {
        width: 50%;
        height: 50%;
    }
    .header-text {
        font-size: 13px;
    }
    .freeuse,
    .register {
        padding: 12px 40px;
    }
}

@media (max-width: 768px) {
    header {
        height: 240px;
    }
    .header-title-con h1 {
        text-align: center;
        font-size: 24px;
        margin: 30px 0 20px 0;
    }
    .header-title-con h4 {
        font-size: 14px;
    }
    .header-text {
        font-size: 12px;
        padding-left: 17px;
        background: url(../imgs/index_cup.png) no-repeat 0px 6px;
        background-size: 12px;
        line-height: 24px;
    }
    .header-title-con div:nth-child(2) {
        display: none;
    }
    .freeuse,
    .register {
        padding: 5px 16px;
        font-size: 12px;
    }
    article .article-item {
        display: block;
        padding: 20px;
    }
    article .article-item img {
        width: 60%;
        height: 50%;
        margin: 20px auto 20px;
    }
    article .article-item h2 {
        font-size: 24px;
        text-align: center;
    }
    article .article-item p {
        text-align: center;
        margin: 0 auto;
    }
    article .article-item div {
        margin: 0 auto;
        text-align: center;
    }
    article .article-item a {
        margin-top: 20px;
    }
    .article-item:nth-child(even) div {
        width: 100%;
        margin-left: 0;
    }
    article .article-item:nth-child(odd) div {
        margin-left: 0;
    }
    .describtion h2 {
        font-size: 24px;
    }
    .download ul li .qcode {
        width: 100px;
        height: 100px;
    }
    .discribtion-text {
        font-size: 12px;
        width: 80%;
        margin: 30px auto 0;
    }
    .describtion {
        height: 200px;
    }
    .download h2 {
        margin: 0;
        font-size: 24px;
    }
    .download {
        padding: 20px 0;
    }
    .download ul {
        display: block;
    }
    .download ul li {
        float: left;
        width: 40%;
        height: 230px;
        margin-top: 40px;
    }
    .download ul li .icon {
        width: 50px;
        height: 50px;
        /* top: -25px;
        left: 50px; */
    }
    .download ul li span {
        margin: 30px;
        font-size: 12px;
    }
    .article-img-phone {
        display: block;
    }
    article .article-item .article-img-pc {
        display: none;
    }
    .header-btn-con {
        text-align: center;
    }
}