@charset "utf-8";html{background-color:#fff;color:#000;font-size:12px}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;font-family:tahoma,arial,"Hiragino Sans GB",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%}
h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
html {overflow-x: hidden;height: 100%;font-size: 50px;-webkit-tap-highlight-color: transparent;}
body {font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;color: #333;font-size: .28em;line-height: 1;-webkit-text-size-adjust: none;}
hr {height: .02rem;margin: .1rem 0;border: medium none;border-top: .02rem solid #cacaca;}
a {color: #25a4bb;text-decoration: none;}
/*首页样式*/
footer {
  position: fixed;
  width: 100%;
  height: 1rem;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  border-top:1px solid #ccc;
  background: #fff;
}
.footer-navbar-item {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 0.20rem;
}
.icon-home-active {
  display: inline-block;
  width: 0.43rem;
  height: 0.43rem;
  background: url('../imgs/active1.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.icon-bill-active {
  display: inline-block;
  width: 0.43rem;
  height: 0.43rem;
  background: url('../imgs/bill-active.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.icon-my-active {
  display: inline-block;
  width: 0.43rem;
  height: 0.43rem;
  background: url('../imgs/active3.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.icon-text-active {
  display: inline-block;
  font-size: 0.22rem;
  color: #48b4fc;
  width: 100%;
  height: 0.44rem;
  line-height: 0.44rem;
}
.icon-static1 {
  display: inline-block;
  width: 0.43rem;
  height: 0.43rem;
  background: url('../imgs/static1.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.icon-static2 {
  display: inline-block;
  width: 0.44rem;
  height: 0.43rem;
  background: url('../imgs/static2.png') no-repeat;
  background-size: 0.44rem 0.43rem;
  margin: 0 auto;
}
.icon-text-static {
  display: inline-block;
  font-size: 0.22rem;
  color: #9c9c9c;
  width: 100%;
  height: 0.44rem;
  line-height: 0.44rem;
}
.icon-static3 {
  display: inline-block;
  width: 0.43rem;
  height: 0.43rem;
  background: url('../imgs/static3.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.content{
  width: 100%;
  height: 100%;
  background: #e4e6f3;
}
.company-name-card{
  width: 7.49rem;
  height: 4.00rem;
  background: url('../imgs/company.png') no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-top: 1rem;
  position: relative;
}
.card-title{
  text-align: center;
  color: #fff;
  font-size: 0.3rem;
}
.company-msg{
  margin-left: 0.7rem;
  margin-top: 0.24rem;
}
.company-name-title {
  color:#b1bcfc;
  font-size: 0.2rem;
  margin-bottom: 0.2rem;
}
.company-report-num{
  color: #b1bcfc;
  font-size: 0.3rem;
}
.company-name{
  color: #b1bcfc;
  font-size: 0.3rem;
  margin-bottom: 0.5rem;
}
.right-btn {
  background: url('../imgs/right-btn.png');
  float: right;
  width: 0.26rem;
  height: 0.50rem;
  background-size: cover;
  position: absolute;
  right: 0.8rem;
  top: 45%;
}
.home-scan-input {
  width: 4rem;
  height: 3.3rem;
  background: url("../imgs/scanbac.png") no-repeat;
  background-size: cover;
  background-position: center;
  margin:0 auto;
  padding-top: 0.3rem;
  font-size: 0.36rem;
  color:#fff;
  text-align: center;
}
.home-tool {
  width: 100%;
  background: #e4e6f3 url('../imgs/homebac.png') no-repeat;
  background-size: cover;
  padding-top: 0.4rem;
}
.scanicon{
    width: 0.75rem;
    height: 0.75rem;
    background: url("../imgs/scan.png") no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    margin-top: 0.48rem;
}
.home-write-input {
  display: block;
  width: 2.13rem;
  height: 1.05rem;
  background: url('../imgs/handbac.png') no-repeat;
  background-size: cover;
  margin:0 auto;
  padding-top: 0.5rem;
  padding-left: 0.6rem;
  color: #fff;
  margin-top: 0.5rem;
}
.writeicon{
  width: 0.35rem;
  height: 0.35rem;
  background: url('../imgs/writeicon.png') no-repeat;
  background-size: cover;
  float: left;
  display: inline-block;
}
.writeicon-text {
  display: inline-block;
  margin-left: 0.2rem;
  float: left;
  line-height: 0.4rem;
}
/*发票夹*/
.bill-title {
  height: 0.8rem;
  width: 100%;
  background: #efefef;
  line-height: 0.8rem;
  position: fixed;
  top: 0;
  left: 0;

}
.bill-type-text {
  color: #7e8494;
  font-size: 0.26rem;
  float: right;
}
.bill-type-select {
  float: right;
  width: 1.76rem;
  height: 0.5rem;
  background: #57b3fe;
  border-radius: 0.3rem;
  font-size: 0.2rem;
  color: #fff;
  margin-top: 0.15rem;
  text-align: center;
  line-height: 2.5;
  margin-left: 0.3rem;
  margin-right: 0.35rem;
}
.right-down-corn{
   width: 0;
   height: 0;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 5px solid #fff;
   float: right;
   margin-top: 0.2rem;
   margin-right: 0.2rem;
}
.show-type {
  height: 0.95rem;
  width: 100%;
  background: #fff;
  display: none;
  position: fixed;
  top: 0.8rem;
  left: 0;
}
.bill-state {
  float: right;
  width: 1.68rem;
  height: 0.47rem;
  background: #61b8ff;
  border-radius:0.3rem;
  font-size: 0.2rem;
  text-align: center;
  line-height: 0.47rem;
  color: #fff;
  margin-right: 0.35rem;
  margin-top: 0.25rem;
}
.bill-ele{
  background: #fff;
  color: #61b8ff;
  border: 1px solid #61b8ff;
}
.show-type,.my-modal,.common-modal {
	animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: FilterFadeIn;
}
@keyframes FilterFadeIn {
  from {
		opacity: 0;
  }
  to {
		opacity: 1;
  }
}
@-webkit-keyframes FilterFadeIn {
  from {
		opacity: 0;
  }
  to {
		opacity: 1;
  }
}
.bill-modal{
  position: fixed;
  top: 1.75rem;
  bottom: 1rem;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  display: none;
}
.bill-list {
  background: #f4f4f4;
  padding:0.3rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
.bill-list-item {
  padding:0.26rem;
  background: #fff;
  border-radius: 0.1rem;
  margin-bottom: 0.3rem;
}
.bill-item-title {
  font-size: 0.28rem;
  border-bottom: 1px dashed #999;
  padding: 0.26rem 0;
}
.bill-amount1 {
  float: left;
  font-size: 0.42rem;
  color:#333;
}
.bill-amount2 {
  float: left;
  font-size: 0.24rem;
  color: #7f8493;
  margin-top: 0.2rem;
  margin-left: 0.4rem;
}
.bill-amount1-text {
  float: left;
  font-size: 0.24rem;
  color: #000;
  margin-top: 0.12rem;
  margin-right: 0.1rem;
}
.bill-amount {
  padding: 0.34rem 0 0.36rem 0;
}
.bill-date {
  font-size: 0.2rem;
  color: #7f8493;
  text-align: left;
  margin-top: 0.36rem;
}
/*详情页*/
.detail-content1{
  height: 100%;
  border-top: 0.2rem solid #f4f4f4;
  padding:0 0.3rem 0.4rem 0.3rem;
}
.detail-content2{
  height: 100%;
  padding:0.4rem 0.3rem;
}
.bill-logo{
  width: 2.7rem;
  height: 0.7rem;
  display: block;
  margin: 0 auto;
  margin-top: 0.2rem;
}
.detail-dash {
  height: 0.42rem;
  border-top: 1px dashed #d8d8d8;
  margin-top: 0.36rem;
}
.detail-common {
  display: flex;
  color: #999;
  font-size: 0.24rem;
  line-height: 0.4rem;
}
.detail-buy {
  height: 0.76rem;
  background: #f4f4f4;
  padding-left: 0.3rem;
  line-height: 0.76rem;
}
.detail-detailmsg{
  line-height: 0.4rem;
}
.detail-detailmsg span:nth-child(1){
  width: 40%;
  display: inline-block;
  text-align: left;
}
.detail-detailmsg span:nth-child(2){
  width: 27%;
  display: inline-block;
  text-align: center;
  border-left: 1px dashed #d8d8d8;
  border-right: 1px dashed #d8d8d8;
}
.detail-detailmsg span:nth-child(3){
  width: 28%;
  display: inline-block;
  text-align: center;
}
.detail-jine-shuie {
  font-size: 0.24rem;
  margin-top: 0.3rem;
}
.detail-je{
  margin-right: 1.5rem;
}
.detail-jshj {
  font-size: 0.24rem;
  color: #4f4f4f;
  font-weight: bold;
  line-height: 0.5rem;
}
/*我的*/
.my-content {
  padding-left: 0.34rem;
  border-top: 0.2rem solid #f4f4f4;
  background: #fff;
}
.my-content a {
  background: url("../imgs/mygo.png") no-repeat center right 0.3rem;
  background-size: 0.15rem 0.25rem;
  display: block;
  height: 0.8rem;
  border-bottom: 1px solid #eee;
  color: #000;
  line-height: 0.8rem;
  font-size: 0.28rem;

}
.my-content span{
  float: right;
  margin-right: 0.6rem;
  color: #333;
}
.my-content1{
  padding: 0 0.34rem;
  background: #f4f4f4;
}
.my-kfbtn {
  height: 0.9rem;
  width: 100%;
  text-align: center;
  line-height: 0.9rem;
  background: #61b8ff;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 0.3rem;
  display: block;
  margin-top: 6.5rem;
}
.my-copy {
  font-size: 0.2rem;
  color: #b8b8b8;
  text-align: center;
  margin-top: 0.8rem;
}
.my-copy span{
  margin-right: 0.15rem;
}
.bind-content {
  padding: 0.7rem 0.7rem;
}
.bindphone-num{
  border: none;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 0.34rem;
  font-size: 0.24rem;
  padding-bottom: 0.2rem;
  display: block;
  width: 100%;
  height: 100%;
}
.bind-code-con{
  padding: 0.17rem 0;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
}
.send-code {
  float: right;
  padding: 0.22rem 0.5rem;
  border-radius: 0.7rem;
  color: #fff;
  font-size: 0.22rem;
  border: none;
  background: #61b8ff;
  display: block;
}
.bind-code {
  border: none;
  font-size: 0.24rem;
  width: 3.6rem;
  margin-top: 0.4rem;
}
.bind-btn {
  margin-top: 1rem;
  font-size: 0.27rem;
  background: #61b8ff;
  color: #fff;
  border-radius: 0.8rem;
  height: 0.86rem;
  width: 100%;
  text-align: center;
  line-height: 0.86rem;
}
/*企业名片*/
.company-content {
  width: 100%;
  padding: 0 0.35rem;
  background: #fff;
  border-top: 0.2rem solid #f4f4f4;
}
.company-item {
  border-bottom: 1px solid #eee;
  padding: 0.15rem 0;
  display: flex;
  justify-content: space-between;
}
.com-title-common{
  font-size: 0.24rem;
  color: #999;
}
.com-inp-common{
  display: block;
  border: none;
  font-size: 0.28rem;
  width: 5.3rem;
}
.com-copy {
  float: right;
  margin-right: 0.72rem;
  width: 0.32rem;
  height: 0.36rem;
  background: url("../imgs/copy.png") no-repeat;
  background-size: cover;
  margin-top: 0.15rem;
}
.com-edit {
  width: 6.32rem;
  height: 0.9rem;
  background: #61b8ff;
  border-radius: 0.7rem;
  text-align: center;
  line-height: 0.9rem;
  color: #fff;
  margin:0 auto;
  margin-top: 2.8rem;
  letter-spacing:0.2rem;
}
/*手动输入页面*/
.hand-content {
  background: #fff;
  border-top: 0.18rem solid #f4f4f4;
  padding: 0 0.56rem;
}
.hand-item{
  border-bottom: 1px dashed #eee;
  width: 100%;
  padding-top: 0.15rem;
}
.hand-inp-common {
  border: none;
  display: block;
  font-size: 0.28rem;
  color:#333;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}
.hand-item span{
  font-size: 0.20rem;
  color: #61b8ff;
  display: block;
  /*display: none;*/
}
.hand-datesele {
  display: inline-block;
  background: url("../imgs/dateicon.png") no-repeat;
  background-size: cover;
  width: 0.52rem;
  height: 0.52rem;
  float: right;
  margin-top: -0.7rem;
}
.hand-inp-fphm {
  display: inline-block;
  width: 5.2rem;
}
.hand-pre {
  font-size: 0.26rem;
  height: 0.9rem;
  text-align: center;
  width: 100%;
  line-height: 0.9rem;
}
.hand-piao-img {
  width: 6.9rem;
  height: 4.7rem;
  margin: 0 auto;
  display: block;
}
.hand-btn {
  width: 6.9rem;
  height: 0.9rem;
  text-align: center;
  line-height: 0.9rem;
  background: #61b8ff;
  border-radius: 0.7rem;
  margin:0 auto;
  margin-top: 0.34rem;
  color: #fff;
}
/*失败页面*/
.error-icon {
  width: 0.75rem;
  height: 0.75rem;
  display: block;
  margin:0 auto;
  margin-top: 0.3rem;
}
.error-text {
  font-size: 0.32rem;
  color: #999;
  text-align: center;
  margin-top: 0.3rem;
  padding-bottom:0.48rem;
  border-bottom: 1px solid #eee;
}
.error-rea {
  color: #ff2438;
  font-size: 0.28rem;
  margin-top: 0.45rem;
  text-align: center;
  font-weight: bold;
}
.error-rea-text {
  font-size: 0.26rem;
  color: #ff2438;
  text-align: center;
  margin-top: 0.2rem;
}
.error-conti {
  height: 0.84rem;
  font-size: 0.26rem;
  color: #999;
  text-align: center;
  line-height: 0.84rem;
  background: #f4f4f4;
  margin-top: 0.64rem;
}
.error-content1 {
  background: #fff;
}
.error-content2 {
  padding: 0.36rem 1.7rem;
  text-align: center;
}
.error-scan {
  width: 0.74rem;
  height: 0.74rem;
  background: url("../imgs/error-scan.png") no-repeat;
  background-size: cover;
  margin:0 auto;
  margin-bottom: 0.26rem;
}
.error-hand {
  width: 0.74rem;
  height: 0.74rem;
  background: url("../imgs/error-hand.png") no-repeat;
  background-size: cover;
  margin:0 auto;
  margin-bottom: 0.26rem;
}
.error-icon-common {
  display: inline-block;
  text-align: center;
  width: 2rem;
  font-size: 0.28rem;
  color: #999;
}
/*my页面弹框*/
.my-modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5.64rem;
  height: 2.76rem;
  margin-left: -2.82rem;
  margin-top: -1.38rem;
  z-index: 2000;
  background: #fff;
  border-radius: 0.2rem;
}
.my-modal-close {
  float: right;
  color: #7e8494;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  font-size: 0.4rem;
  cursor: pointer;
}
.my-modal-text {
  margin-top: 0.8rem;
  color: #666;
  font-size: 0.24rem;
  text-align: center;
}
.my-modal-num {
  width: 4.17rem;
  height: 0.9rem;
  background: #57b3fe;
  color: #fff;
  font-size: 0.3rem;
  margin:0 auto;
  text-align: center;
  line-height: 0.9rem;
  border-radius: 0.6rem;
  margin-top: 0.4rem;
}
/*灰色层*/
.common-cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
}
input[disabled] {
  background: #fff;
}
.common-modal {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 4rem;
  height: 1.6rem;
  margin-left: -2rem;
  margin-top: -0.8rem;
  background: rgba(0,0,0,0.6);
  text-align: center;
  line-height: 1.6rem;
  border-radius: 0.2rem;
  font-size: 0.32rem;
  color: #fff;
  display: none;
}
.ui-widget.ui-widget-content{
  border:1px solid #61b8ff;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
  background:#fff;
  border:1px solid #61b8ff;
}
