header {
    height: 730px;
    background: linear-gradient(to right, #936AFD, #848EFA);
    padding: 30px 10% 0px 10%;
}

.header-title-con {
    display: flex;
    justify-content: center;
    color: #fff;
}

.header-title-con div:nth-child(2) {
    margin: 50px 0 0 30px;
    width: 530px;
    height: 470px;
}

.header-title-con div:nth-child(2) img {
    width: 100%;
}

.header-title-con h1 {
    font-size: 40px;
    margin-top: 190px;
}

.header-title-con h4 {
    font-size: 28px;
}

.header-text {
    margin-top: 23px;
    font-size: 16px;
    line-height: 30px;
    width: 540px;
}

.freeuse,
.register {
    font-size: 16px;
    display: inline-block;
    margin-top: 30px;
    padding: 12px 54px;
    border-radius: 4px;
    background: none;
    border: 1px solid #fff;
    cursor: pointer;
}

.register {
    border: none;
    background: #FFE046;
    color: #000;
    margin-right: 15px;
}

.article-first {
    position: relative;
    height: 663px;
}

.article-content-con {
    width: 70%;
    height: 612px;
    padding: 80px 120px 100px;
    position: absolute;
    margin: 0 auto;
    top: -140px;
    left: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

.article-content-con h3 {
    font-size: 32px;
    color: #8984FB;
    text-align: center;
    font-weight: normal;
    margin-bottom: 80px;
}

.article-content-con ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article-content-con ul li {
    width: 30%;
    margin-left: 3%;
    margin-bottom: 108px;
}

.article-content-con ul li p:nth-child(1) {
    display: block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
}

.article-content-con ul li p img {
    width: 26px;
    height: 26px;
}

.article-content-con ul li span {
    display: inline-block;
    font-size: 20px;
    margin-top: 23px;
    margin-bottom: 13px;
}

.article-content-con ul li p {
    font-size: 14px;
    color: #7E8480;
    width: 226px;
}

article .article-item {
    padding: 130px 0 120px 0;
    display: flex;
    justify-content: center;
}

article .article-item img {
    display: block;
    width: 534px;
    height: 445px;
}

article .article-item div {
    margin: 0 100px;
}

article .article-item h2 {
    font-size: 32px;
}

article .article-item:nth-child(2) {
    background: url("../imgs/product_side_bac1.png") no-repeat right center;
    background-size: 400px 622px;
}

article .article-item:nth-child(4) {
    background: url("../imgs/product_side_bac2.png") no-repeat left center;
    background-size: 340px 622px;
}

article .article-item:nth-child(6) {
    background: url("../imgs/product_side_bac3.png") no-repeat right top;
    background-size: 400px 622px;
}

article .article-item p {
    margin-top: 30px;
    width: 325px;
    font-size: 14px;
    color: #7C877F;
    line-height: 24px;
}

article .article-item:nth-child(2) p {
    width: 450px;
}

article .article-item a {
    font-size: 14px;
    display: inline-block;
    margin-top: 50px;
    cursor: pointer;
    padding: 8px 40px;
    color: #fff;
    background: linear-gradient(to bottom right, #23E396, #0DC5BF);
    border-radius: 4px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.14)
}

@media (max-width: 1390px) and (min-width: 1000px) {
    .header-title-con div:nth-child(2) {
        margin-top: 150px;
    }
    article .article-item img {
        width: 40%;
        height: 50%;
    }
}

@media (max-width: 1000px) {
    article .article-item img {
        width: 40%;
        height: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 800px) and (min-width: 360px) {
    .header-title-con div:nth-child(2) {
        display: none;
    }
    header {
        height: 300px;
    }
    .header-title-con h1 {
        font-size: 24px;
        margin-top: 50px;
        text-align: center;
    }
    .header-title-con h4 {
        font-size: 14px;
    }
    .header-text {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        width: 300px;
    }
    .freeuse,
    .register {
        padding: 5px 16px;
        font-size: 12px;
    }
    .header-btn-con {
        text-align: center;
    }
    .article-content-con {
        position: relative;
        top: 0;
        width: 90%;
        padding: 5%;
        height: 700px;
        border-radius: 0;
    }
    .article-first {
        height: 750px;
    }
    .article-content-con h3 {
        font-size: 20px;
    }
    .article-content-con ul li p {
        width: 100px;
    }
    article .article-item {
        padding: 50px 0;
        display: block;
        text-align: center;
    }
    article .article-item div {
        margin: 20px auto;
    }
    article .article-item h2 {
        font-size: 24px;
        text-align: center;
    }
    article .article-item p {
        text-align: center;
        width: 90%;
        margin: 10px auto;
    }
    article .article-item:nth-child(2) {
        background-size: 253px 476px;
    }
}