* {
    padding: 0;
    margin: 0;
}

div,
dl,
dt,
dd,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
ul,
li,
table,
th,
td,
p,
span,
a {
    border: 0;
    text-decoration: none;
}

li {
    list-style: none;
}

html,
body {
    background: #fff;
    width: 100%;
    height: 100%;
}


/* 导航 */

nav img {
    display: block;
    width: 140px;
    height: 50px;
    margin-top: -10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-left: 60px;
}

nav ul li a {
    display: inline-block;
    padding: 0px 10px 5px 10px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

nav ul li .active {
    border-bottom: 2px solid #fff;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

nav ul li .login {
    background: none;
    padding: 7px 26px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    margin-top: -14px;
    border-radius: 4px;
}

nav ul li .login:hover {
    border-bottom: 1px solid #fff;
}


/* 吸顶 */

.top {
    display: none;
    justify-content: space-between;
    width: 80%;
    padding: 18px 10% 8px;
    z-index: 20;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.top img {
    display: block;
    width: 130px;
    height: 45px;
    margin-top: -10px;
}

.top ul {
    display: flex;
    justify-content: space-between;
}

.top ul li {
    margin-left: 2rem;
}

.top ul li a {
    display: inline-block;
    padding: 0px 10px 5px 10px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.top ul li .active {
    border-bottom: 2px solid #000;
}

.top ul li a:hover {
    border-bottom: 2px solid #000;
}

.top ul li .login {
    background: none;
    padding: 5px 26px;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    margin-top: -14px;
    border-radius: 4px;
}

.top ul li .login:hover {
    border-bottom: 1px solid #000;
}

footer {
    height: 204px;
    padding-top: 50px;
    background: #F7F9FA;
    display: flex;
    justify-content: space-around;
}

footer h4 {
    font-size: 14px;
}

footer ul {
    font-size: 12px;
    color: #7E8480;
    margin-top: 40px;
}

footer ul li {
    margin-top: 20px;
}

footer ul li a {
    cursor: pointer;
}

.footer-text {
    font-size: 12px;
    color: #7E8480;
    width: 250px;
    margin-top: 40px;
}

.footer-action-con {
    margin-top: 30px;
}

.footer-action-con input {
    width: 132px;
    height: 40px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    font-size: 12px;
}

.footer-action-con button {
    border: 1px solid transparent;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #15D0B2;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.footer-action-con button:focus {
    outline: 0;
}

.copyright {
    height: 69px;
    background: #0DBCB0;
    font-size: 12px;
    text-align: center;
    line-height: 69px;
    color: #fff;
}


/* 
弹框
*/

.mask {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 19;
    background: rgba(0, 0, 0, 0.4);
}

.modal {
    display: none;
    left: 50%;
    top: 20%;
    margin-left: -224px;
    position: fixed;
    width: 448px;
    height: 284px;
    background: #fff;
    z-index: 20;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.modal span {
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.modal p {
    margin-top: 20%;
    font-size: 20px;
    color: #333;
    text-align: center;
}

.modal button {
    width: 140px;
    height: 40px;
    border: none;
    outline: none;
    background: linear-gradient(to bottom right, #23E396, #0DC5BF);
    color: #fff;
    border-radius: 4px;
    margin-top: 10%;
    cursor: pointer;
}

footer ul li a {
    color: #7E8480;
}

.submit-con {
    display: none;
}

.nav-list {
    display: none;
}

@media(min-width: 700px) {
    .submit-con {
        display: none;
    }
    .nav_btn {
        display: none;
    }
}

@media (max-width: 1900px) and (min-width: 700px) {
    nav ul li {
        margin-left: 20px
    }
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }
}

@media (max-width: 768px) and (min-width: 360px) {
    nav img {
        width: 89px;
        height: 30px;
    }
    footer {
        padding: 10px;
        display: block;
        height: 140px;
    }
    footer div:nth-child(2),
    footer div:nth-child(3) {
        float: left;
        width: 26%;
    }
    footer div:nth-child(4) {
        float: left;
        width: 37%;
        margin-left: 2%;
    }
    footer ul {
        margin-top: 20px;
    }
    .footer-text {
        line-height: 23px;
        width: 160px;
        margin-top: 16px;
    }
    footer ul li {
        margin-top: 10px;
        word-break: break-word;
    }
    .footer-action-con input {
        width: 50px;
        height: 20px;
        padding: 0 3px;
        font-size: 12px;
    }
    .footer-action-con button {
        width: 30px;
        height: 20px;
        line-height: 20px;
    }
    .footer-action-con {
        display: none;
    }
    .submit-con {
        display: block;
        background: #F7F9FA;
        padding: 20px 10%;
    }
    .submit-con input {
        width: 30%;
        height: 30px;
        padding: 0 10px;
        outline: none;
        border: 1px solid #D5D5D5;
        border-radius: 4px;
        font-size: 12px;
    }
    .submit-con button {
        border: 1px solid transparent;
        width: 50px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #15D0B2;
        color: #fff;
        border-radius: 4px;
    }
    .submit-con button:focus {
        outline: none;
    }
    .nav_btn {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 10%;
    }
    .modal {
        width: 300px;
        margin-left: -170px;
        height: 200px;
    }
    .nav-list li a {
        color: #fff;
    }
    .nav-list li {
        margin-top: 15px;
        text-align: center;
    }
    .nav-list {
        display: none;
        position: absolute;
        top: 60px;
        right: 9%;
        width: 30px;
        padding: 5px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        font-size: 14px;
    }
}